# OneDrive / metadados do SO
desktop.ini
Thumbs.db
.DS_Store

# Rascunho / trabalho
hero-opcoes.html
_mp_*.txt
*.tmp

# Editores
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
